
html, body{
  padding: 0;
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-gap: 1em; */
  width: 100vw;
  height: 100vh;
}
h1{
  margin: 1em 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 2em;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-size: 2em;
}
a:link{
  color: #1e1e1e;
  text-decoration: none;
}
a:visited{
  color: #1e1e1e;
}
a:hover{
  color: #ecc73e;
}

/* Side bar menu */
.sidebar{
  background: #d8dadb;
  box-shadow: 5px 0px 25px #303030;
  z-index: 1
}
.menu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#img {
  width: 20vw;
  margin: 2em 0;
}
.menuItems{
  text-align: center;
}
#labs{
  position: relative;
  left: -200%;
  opacity: 0;
}
#projects{
  position: relative;
  left: -200%;
  opacity: 0;
}
#midterm{
  position: relative;
  left: -200%;
  opacity: 0;
}
#journal{
  position: relative;
  left: -200%;
  opacity: 0;
}
#final{
  position: relative;
  left: -200%;
  opacity: 0;
}

/* Content Area */
.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg3.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.itemsContainer{
  width: 75vmin;
  height: 50vmin;
  background-color: #d8dadb;
  /* opacity: 0.75; */
  border: 2px solid #1e1e1e;
  border-radius: 2em;
  opacity: 0;
  /* box-shadow: 5px 0px 50px #303030; */
}
.intro{
  display: block;
}
#pageTitle{
  opacity: 0;
}
.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listItems{
  width: 100%;
  height: 100%;
}
.labItems{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.labCol{
  margin: 0px 2em;
}
#titleText1{
  opacity: 0;
  left: 0%;
  display: none;
}
#titleText2{
  opacity: 0;
  left: 0%;
  display:  none;
}
#lab1{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#lab2{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#lab3{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#lab4{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#lab5{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#lab6{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#project1{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;

}
#project2{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
#project3{
  position: relative;
  left: 3000%;
  text-align: center;
  display: none;
}
