
html, body{
  padding: 0;
  margin: 0;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
}
.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.iconContainer{
  width: 100vmin;
  height: 50vmin;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 5%;
}
.icons{
  margin: 0 8%;
}
.icon{
  font-size: 8em;
  cursor: pointer;
}
#apple{
  color: #fff;
}
#droid{
  color: #fff;
}

.titleContainer{
  width: 100vmin;
  height: 50vmin;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.titleContainer h1{
  color: #fff;
  margin: 0 5%;
}

.hidden {
  display: none;
  opacity: 0;
}
